{% extends 'base.html' %}
{% block title %}欢迎光临我的个人博客{% endblock %}
{% block header %}
    <h3>本站文章列表</h3>
{% endblock %}

{% block content %}
    {% for p in posts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <p style="font-size: 20px">
                    <a href="/post/{{ p.slug }}">{{ p.title }}</a>
                </p>
            </div>
            <div class="panel-body" style="font-size: 15px;background-color: azure">
                <p>
                    {{ p.body|truncatechars:60 }}
                </p>
            </div>
            <div class="panel-footer" style="background-color: antiquewhite">
                <p>
                    发布时间:{{ p.pub_date|date:"Y M d,h:m:s" }}
                </p>
            </div>
        </div>
        {% endfor %}
{% endblock %}